%pre
  :preserve
    / CoffeeScript
    education = (location = "Bremen, Germany", year_start = "2006", year_end = "2009", degree = "Abitur") ->
      "I visited the 'Wilhelm Wagenfeld School for Multimedia and Arts' in \#{location} in \#{year_start} and finished in \#{year_end} with a \#{degree}"
      "A \#{degree} is comparable to the International Baccalaureate."
      "http://www.wilhelm-wagenfeld-schule.de/"

    skills-aquisition = (autodidactic) ->
      "I'm passionate about learning new things. I've been teaching myself the ins and outs of almost all the languages I know."
      "I started learning HTML in 2002, CSS in 2005 and preprocessors, like LESS and Sass, in 2010."
      "I spent the last 3 months learning Ruby and Objective-C"
      "My previous jobs introduced me to version control and gave me experience how to work with a team of developers."